h1 {
	font-family: 'Raleway', serif;
	font-weight: 700;
}

body, html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#nav {
	padding: 15px;
	font-weight: 500;
}

.btn {
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none !important;
}

.date .form-control {
width:auto;
display:inline-block;
}

#wordForm, #goalForm {
	padding: 10px;
}

input .form-control {
	border-radius: 0;
}