h1 {
	font-family: 'Raleway', serif;
	font-weight: 700;
}

h3 {
	margin-top: 10px;
}

body, html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#nav {
	padding: 15px;
	font-weight: 500;
}

.btn {
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none !important;
}

.circle-btn {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	padding: 5px;
}

.date .form-control {
	width:auto;
	display:inline-block;
}

#wordForm, #goalForm {
	padding: 10px;
}

input .form-control {
	border-radius: 0;
}

ul {
	list-style: none;
}

#goals, #words {
	border: 1px solid #ccc;
	padding: 15px;
}

input #wordInput .form-control {
	border-bottom: 0;
}

.form-control {
	border-radius: 0;
}

.table thead tr td {
	font-weight: 400;
}

.word-row {
	cursor: pointer; 
	cursor: hand;
}

#goals {

}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
}