{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>Dashboard</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div id="goals">
				<h3><span id="goalSum"></span> Goals</h3>
				<ul id="goalList">
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div id="words">
				<h3><span id="wordSum"></span> Words</h3>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<td>Word</td>
								<td>Sound</td>
								<td>Description</td>
								<td>Date heard</td>
							</tr>
						</thead>
						<tbody id="wordList">
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Button trigger modal for Edit Word -->

<!-- Edit Word Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle"></h4>
        	<div id="errMsg"></div>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <span id="submitBtn"></span>
      </div>
    </div>
  </div>
</div>


<button type="button" class="hidden" data-toggle="modal" data-target="#editModal" id="showModal"></button>

<footer>
	<div class="col-md-12 text-center">
		<button class="btn btn-success" id="addWordBtn">Add Word</button>
		<button class="btn btn-success" id="addGoalBtn">Add Goal</button>
	</div>
</footer>
<script src="static/js/dashboard.js"></script>
{% endblock %}