{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>Dashboard</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div id="goals">
				<h3><span id="goalSum"></span> Goals</h3>
				<ul id="goalList">
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div id="words">
				<h3><span id="wordSum"></span> Words</h3>
				<ul id="wordList">
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<ul class="nav nav-tabs" id="myTabs">
				<li role="presentation" class="active"><a href="#wordPanel" id="word-tab">Add Word</a></li>
				<li role="presentation"><a href="#goalPanel" id="goal-tab">Add Goal</a></li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade in active" role="tabpanel" id="wordPanel" aria-labelledby="word-tab">
					<form method="POST" class="form-box" id="wordForm">
						<div class="form-group">
							<input class="form-control" type="text" name="word" placeholder="word" id="wordInput">
							<input class="form-control" type="text" name="sound" placeholder="sound" id="soundInput">
							<textarea class="form-control" placeholder="description" rows="5" name="description" id="descWordInput"></textarea>
						</div>
						<div class="form-group">
							<button class="btn btn-success circle-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" role="tabpanel" id="goalPanel" aria-labelledby="goal-tab">
					<form method="POST" class="form-box" id="goalForm">
						<div class="form-group">
							<input class="form-control" type="text" name="goal" placeholder="goal" id="goalInput">
							<textarea class="form-control" placeholder="description" rows="5" name="description" id="descGoalInput"></textarea>
						</div>
						<div class="form-group">
							<button class="btn btn-success circle-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(function() {
	$('#myTabs a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
	});

	$('#myTabs a[href="#wordPanel"]').tab('show');

	var getWords = function() {
		$.ajax({
			url: '/getwords',
			method: 'GET',
			dataType: 'json'
		}).done(function(result) {
			console.log(result);
			var words = result.Words;
			$('#wordList').empty();
			words.forEach(function(w) {
				$('#wordList').append('<li>' + w.word +'</li>');
			})
			$('#wordSum').text(words.length);
		}).fail(function(e) {
			console.log(e);
		});
	}

	getWords();

	var getGoals = function() {
		$.ajax({
			url: '/getgoals',
			method: 'GET',
			dataType: 'json'
		}).done(function(result) {
			console.log(result);
			var goals = result.Goals;
			$('#goalList').empty();
			goals.forEach(function(g) {
				$('#goalList').append('<li>' + g.goal +'</li>');
			})
			$('#goalSum').text(goals.length);
		}).fail(function(e) {
			console.log(e);
		});
	}

	getGoals();

	$('#wordForm').submit(function(e) {
		e.preventDefault();
		// check if word and sound fields are empty
		var word = $('#wordInput').val(),
				sound = $('#soundInput').val();
		if (!(word && sound)) {
			console.log('Must fill up all fields')
			return
		}
		$.ajax({
			url: '/addword',
			method: 'POST',
			data: $('#wordForm').serialize(),
			dataType: 'json'
		}).done(function(result) {
			console.log('Saved Word');
			getWords();
		}).fail(function(e) {
			console.log(e);
		});
	});

	$('#goalForm').submit(function(e) {
		e.preventDefault();
		// check all fields
		var goal = $('#goalInput').val(),
				desc = $('#descGoalInput').val();
		if (!goal) {
			console.log('Must fill up all fields')
			return
		}
		var data = $('#goalForm').serialize();
		console.log(data);
		$.ajax({
			url: '/addgoal',
			method: 'POST',
			data: { goal: goal, description: desc },
			dataType: 'json'
		}).done(function(result) {
			console.log('Saved Goal');
			getGoals();
		}).fail(function(e) {
			console.log(e)
		});
	});
});
</script>
{% endblock %}